* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

figure {
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, p, a {
    color: #242424;
}

.bold {
    font-weight: bold;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 24px;
}



.red__text {
    color: #ec684d;
}



/* NAV */

nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

nav > figure {
    margin-left: 24px;
    max-width: 156px;
    max-height: 84px;
}

nav > ul {
    display: flex;

}

nav > ul > li {
    margin-right: 24px;
}

.nav__link {
    font-weight: bold;
    padding: 4px;
    border-radius: 8px;
}

.nav__link:hover {
    color: #666666;
    border: 4px solid #666666;
}

.nav__link--first {
    color: #ec914d;
    border: 4px solid #ec914d;
}

.nav__link--second {
    color: #ecb54d;
    border: 4px solid #ecb54d;
}

.nav__link--third {
    color: #c6ec4d;
    border: 4px solid #c6ec4d;

}




/* HEADER */

header {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header__desc {
    font-size: 32px;

}

.header__desc > h1 {

}

.header__desc > p {
    line-height: 1.5;
}

.header__cars--wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-evenly;
}

.header__car {
    width: 30%;
}

/* DISCORD */

#discord {
    text-align: center;
    font-size: 24px;
}

#discord > .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discord__desc--title {
    margin-bottom: 24px;
}

.discord__desc--para {
    margin-bottom: 24px;
}

.social__link {
    width: 240px;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 16px;
}

/* INFO */

#info {
    text-align: center;
    font-size: 24px;
}

#info * {
    margin-bottom: 24px;
}

/* MEETS */

#meets {
    text-align: center;
    font-size: 24px;
}

#meets * {
    margin-bottom: 24px;
}

.meet__images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.meet__img {
    border-radius: 16px;
    overflow: hidden;
    height: 200px;
    width: 300px;
    border: 1px solid red;
}

.meet__img img {
    object-fit: cover;
}


/* FOOTER */
footer {
    background-color: #242424;
    color: #fafafa;
    text-align: center;
    padding: 24px 0;
}


footer * {
    color: #fafafa;
    font-size: 24px;
    margin-bottom: 16px;
}



@media screen and (max-width:768px) {
    nav {
        flex-direction: column;

    }

    nav > figure {
        height: 84px !important;
    }

    nav > ul {
        flex-direction: column;
    }

    nav > h1 {
        margin-bottom: 24px;
    }

    nav > ul > li {
        margin-bottom: 24px;
    }
}